<div style="display: flex">
  <% books.forEach((book) => { %>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <img
      height="300"
      width="200"
      src="<%= book.coverImagePath %>"
      alt="<%= book.title %>"
    />
    <div><%= book.title %></div>
  </div>
  <% }) %>
</div>
